<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
<p>
  <b>Url Name:</b>
  <%= text_field_tag 'url_name' %><br />
  <b>Url:</b>
  <%= text_field_tag 'url' %><br />
</p>

<p>
  <% @user.urls.each do |name, link| %>
  <%= link_to name, link %>
  <% end %>
</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
