<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<p>
  <b>Courses:</b>
  <% @user.course_ids.each do |f| %>
  <% course = Course.where(id: f).first %>
  <%= course.CourseTitle%>
  <%end%>
</p>

<p>
    <b>URLs:</b>
    <% @user.urls.each do |name, link| %>
      <%= link_to name, link %>
    <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
