<p id="notice"><%= notice %></p>

<p>
  <b>CallNumber:</b>
  <%= @course.CallNumber %>
</p>

<p>
  <b>CourseTitle:</b>
  <%= @course.CourseTitle %>
</p>

<p>
  <b>StartTime:</b>
  <%= @course.StartTime %>
</p>

<p>
  <b>EndTime:</b>
  <%= @course.EndTime %>
</p>

<p>
  <b>MeetsOn:</b>
  <%= @course.MeetsOn %>
</p>

<p>
  <b>Building:</b>
  <%= @course.Building %>
</p>

<p>
  <b>Room:</b>
  <%= @course.Room %>
</p>

<p>
  <b>Instructor:</b>
  <%= @course.Instructor %>
</p>

<p>
  <b>Description:</b>
  <%= markdown @course.Description %>
</p>

<p>
  <b>Current Students:</b>
  <% @course.users.each do |usr| %>
  <li><%= usr.first_name %></li>
  <% end %>
  <p>




<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
